.shadow-sm {
    width: 300px;
    border-radius: 21px 21px 0 0;
    /*border: 1px solid #dddddd;*/
    margin-top: 30px;
}

.price{
    color: #f05356;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}